<!DOCTYPE html>
<html>


    <%= form_tag "build", :id => "my_form" do -%>
        Enter Cards:
        <%= text_area_tag :comment,"", :name => "Deck",  :rows => 20, :cols => 30 , :placeholder => "3 Dark Magician\n3 Blue-Eyes White Dragon\n3 Feral Imp\n3 Flame Swordsman\n3 Winged Dragon\n3 Battle Ox\n3 Beaver Warrior"%>
  <%= submit_tag "Submit" %>
<% end -%>

    </body>
</html>
